body {
  background-color: lightgray;
}

.container {
  margin: 10% 0 0 40%;
}

.square {
  height: 100px;
  width: 100px;
  background-color: lightblue;
  text-align: center;
  align-items: center;
}

.square p {
  text-align: center;
  margin: inherit;
  padding-top: 40%;
}

#one {}

#two {
  position: relative;
  left: 100px;
  bottom: 100px;
}

#two.disapear {
  left: 102px;
}

#three {
  position: relative;
  left: 200px;
  bottom: 200px;
}

#three.disapear {
  left: 204px;
}

#four {
  position: relative;
  left: 0;
  bottom: 200px;
}

#four.disapear {
  bottom: 198px;
}

#five {
  position: relative;
  left: 100px;
  bottom: 300px;
}

#five.disapear {
  left: 102px;
  bottom: 298px;
}

#six {
  position: relative;
  left: 200px;
  bottom: 400px;
}

#six.disapear {
  left: 204px;
  bottom: 398px;
}

#seven {
  position: relative;
  left: 0px;
  bottom: 400px;
}

#seven.disapear {
  bottom: 396px;
}

#eight {
  position: relative;
  left: 100px;
  bottom: 500px;
}

#eight.disapear {
  left: 102px;
  bottom: 496px;
}

#nine {
  position: relative;
  left: 200px;
  bottom: 600px;
}

#nine.disapear {
  left: 204px;
  bottom: 596px;
}

#button {
  background-color: blue;
  border-radius: 5px;
  color: white;
  padding: 0.5%;
  border: none;
  position: relative;
  left: 230px;
  bottom: 590px;
  padding-left: 2%;
  padding-right: 2%;
}

.links {
  text-decoration: none;
  padding: 2%;
  background-color: #f5a25d;
  color: white;
  display: block;
  margin-top: 5%;
  width: 25%;
  text-align: center;
  border-radius: 5px;
}

h2 {
  color: #fa7f72;
  margin-left: -10%;
  margin-bottom: 7%;
  text-align: left;
}
